<nav class="navbar">
    <div class="container">
        <div class="body col-sm-4">
            <div class="header-logo">
                <img src="../../../assets/images/header_logo.png" />
            </div>
            <div class="title">
                <a class="text">
                    {{ pageTitle }}
                </a>
            </div>
            <div>
                <a class="home" href="/">Home</a>
            </div>
        </div>
    </div>
</nav>

<script>
    alert("alerta")
</script>